<%= turbo_stream.append 'stream_messages' do %>
  <p>hello!</p>
<% end %>
<%= turbo_stream.update 'stream_messages_sentinel' do %>
  <%= turbo_frame_tag 'stream_messages_loading', src: room_messages_path(@room), loading: 'lazy' do %>
    Loading...
  <% end %>
<% end %>
